name: Release JAR

on:
  push:
    tags: [ "v*" ]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: Build
        run: mvn -q -B -DskipTests package
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: target/*.jar
